body, textarea{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

body{
    color: #0A3871;
    background-color: #F3F5FC;
}

.texts{
    margin: 2em auto;
}

div.izq{
    margin:auto;    
}

div.der{
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}

textarea.entrada{ 
    font-weight: 200;
    display: block;
    width: 90%;
    margin: 2em auto;
    padding: 1em;
    border: none;
    background-color: #F3F5FC;
    border-radius: 10px;
}

.izq p{
    font-weight: 200;
    display: block;
    margin: 5%;
}

textarea.salida{ 
    font-weight: 200; 
    display: block;  
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    border: none;
    border-radius: 10px;
}

.der img{
    width: 80%;
    display: block;
    margin: 5% auto;
}

button.encriptar{
    font-size: large;
    border: none;
    border-radius: 5px;
    
    width: 6em;
    height: 2em;  
    margin: auto 5%;

    color:#FFFFFF ;
    background-color: #0A3871;
}

button.desencriptar{ 
    font-size: large;
    border: none;
    border-radius: 5px;
    
    width: 7em;
    height: 2em;
    margin: auto 5%;
    color:#0A3871 ;
    background-color: #D8DFE8;
}

button.copiar{
    display: block;
    font-size: large;
    border: none;
    border-radius: 5px;
    
    width: 6em;
    height: 2em;  
    margin: 1em auto;

    color:#FFFFFF ;
    background-color: #0A3871;
}

.desencriptar:hover ,.encriptar:hover, .copiar:hover{
    transform: scale(1.1);
}
@media (orientation: portrait) {  
    .texts{
    display: block;
    }

    div.izq{
        width: 100%;
        height: 100%;
        margin: auto;    
    }
    
    div.der{
        width: 100%;
        height: 100%;
    }
    
}
@media (orientation: landscape){
    .texts{
        display: flex;
        justify-content: center;
    }
    div.izq{
        width: 60%;
        height: 100%;
    }
    
    div.der{
        width: 30%;
        height: 100%;
    }
}

@media screen and (max-width:1920px){
    .texts{
        width: 1200px;
    }
}
@media screen and (max-width:1200px){
    .texts{
        width: 800px;
    }
    
}
@media screen and (max-width:850px){
    .texts{
        width: 600px;
    }
}
@media screen and (max-width:600px){
    .texts{
        width: 400px;
    }    
    div.der{ 
        margin: auto; 
    }
}
@media screen and (max-width:450px){
    .texts{
        width: 300px;
        margin: auto;
    }
    button.encriptar{
        width: 100%;
        height: 2em;  
        margin: 1% ;
    }
    
    button.desencriptar{         
        width: 100%;
        height: 2em;
        margin: 1%;
    }
}
